body {
  background: #111;
  color: #eee;
  font-family: Arial;
  padding: 20px;
}

.box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input, select, button {
  padding: 6px;
}

.row {
  margin: 6px 0;
}